{% extends 'intropage.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}
<title>Welcome</title>
{% endblock title %}

{% block main_content %}
    <div class="container">
        <div class="text-box">
            <p>WELCOME TO</p>
            <H1>AROA </H1>
                <H1>RESTAURANT</H1>
            <H3>POWERED BY DIGITAL WAITER</H3>

        </div>

    </div>
    <div class="text-box-2">
             <span>Press anywhere to continue...</span>
    </div>


{% endblock main_content %}

